<header class="e-header">
    <h1 class="e-header_title">Slick</h1>
</header>


<main>
    <aside class="c-side-menu">
        <nav>
            <ul>
                <li class="c-side-menu__item"><a href="">Consultants</a></li>
                <li class="c-side-menu__item"><a href="">Menu item 2</a></li>
                <li class="c-side-menu__item"><a href="">Menu item 3</a></li>
            </ul>
        </nav>
    </aside>
    <router-outlet></router-outlet>
</main>
<footer class="e-footer">&copy; Vincent Iliano - 2019</footer>