
$primaryColor: rgba(91, 133, 170, 1);
$secondaryColor: rgba(28, 110, 140, 1);
$accentColor: rgba(216, 219, 226, 1);

$backgroundColor:  rgba(14, 44, 61, 1);
$textColor:rgba(251, 252, 255, 1);

$color1: rgba(208, 204, 208, 1);
$color3: rgb(255, 255, 255);

$table-background-color: $primaryColor;